/*==============================
	- Author: Nabil
	- App: Netflix mock
================================= */

html {
	scroll-behavior: smooth;
	background: var(--color-3_1);
	color: var(--color-1);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@media (max-width: 2560px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 450px) {
	html {
		font-size: 10px;
	}
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/**** CLASS ****/
/* Display */
.flex_row {
	display: flex;
}
.flex_row_between {
	display: flex;
	justify-content: space-between;
}

.flex_row_between_align_center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex_row_center_align_center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex_row_align_items_center {
	display: flex;
	align-items: center;
}

/* Space & Padding */

.padding_between_minor_element {
	padding-top: 0.5rem;
}

/* Icons */
.icon_circular {
	padding: 0.2rem;
	color: var(--color-1);
	font-weight: bold;
	border-radius: 50%;
	border: 1px solid var(--color-1);
	box-sizing: content-box !important;
	background-color: #fd728a;
}
/* ----------------------------------------------*/
/* 02 User preference			                     	 */
/* ----------------------------------------------*/

/* No motion */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0s !important;
		animation-iteration-count: 0s !important;
		transition-duration: 0s !important;
		scroll-behavior: auto !important;
		transition-delay: 0s !important;
	}
}
