:root {
	--color-1: #ffffff;
	--color-1_1:#e5e5e5;
	--color-1_2: rgba(255,255,255, .5);
	--color-1_3: #b3b3b3;
	--color-2: grey;
	--color-3: rgb(0, 0, 0);
	--color-3_1: #141414;
	--police-1: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--border-radius: 4px;
	--icon-height-1: 20px;
	--icon-height-1_1: 40px;
	--main-space: 2rem;
	--minor-space: 1rem;
}
