@import '../../../common/css/variable.css';
.header {
	position: relative;
	min-height: 60vh;
}

.header_image_background img {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -10;
}
.header_description_icon_and_title img {
	height: 2rem;
}
.header_description_icon_and_title h3 {
	padding-left: 0.5rem;
	color: var(--color-2);
	text-transform: uppercase;
	letter-spacing: 2px;
}
.header_image_background img {
	height: 100%;
	width: 100%;
	z-index: -10;
}



.header_description {
	padding-top: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: var(--main-space);
	position: relative;

	transition: transform 0.5s;
}

.header_description .loader_image{
	display:none;
}
@media only screen and (min-width: 750px), screen and (min-height: 900px) {
	.header {
		height: 60rem;
		min-height: unset !important;
	}
}
@media only screen and (min-width: 750px) {
	.header_description {
		transform: scale(1.1);
		width: 40vw;
	}
}

@media only screen and (min-width: 900px) {
	.header {
		min-height: 100vh;
	}

	.header_description {
		padding-top: 8rem;
		padding-left: Calc(var(--main-space) * 3);
	}
}

.header_description_image {
	height: 10rem;
	position: relative;
}

.header_description_image img {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -8;
}

.header_description_button button {
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.header #video-player {
	position: absolute;
	height: 100%;
	width: 100%;
}
.shrunk_header_description {
	transform: scale(0.8);
	transition: all 0.5s 1s;
	transform-origin: bottom left;
}
