@import '../../../../common/css/variable.css';

:root {
	--share-height: 10rem;
}

.article_two {
	width: 30vw;
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
	/*todo: mettre ca que pour le premier article_two et mettre le contraire pour le dernier */
	vertical-align: top;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	height: max-content;
}

.article_two:hover {
	cursor: pointer;
}


.group_icons_wrapper_part_one,
.group_icons_wrapper_part_two {
	height: 100%;
}

.article_two_part_one {
	flex: 1;
	position: relative;
}

.article_two_part_one .article_two_video_player {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
}

.article_two_part_one #image-container {
	height: 100%;
}

.article_two_part_one_icon_ #image-container {
	height: 1rem;
}

.article_two_part_one img {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.article_two_video_player_volume_icon {
	position: absolute;
	top: 60%;
	left: 80%;
	transform: translate(-50%, -50%);

}

.article_two_part_two {
	background-color: var(--color-3_1);
	padding: 0rem;
	flex: 1;
	max-height: 0px;
	overflow: hidden;
	border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

.article_two:hover .article_two_part_two {
	max-height: none;
	padding: 1rem;
	box-shadow: 0px 0px 1px 3px rgb(0 0 0 / 63%);
}

.group_icons_wrapper {
	flex-wrap: wrap;
}

.group_icons_wrapper svg:hover {
	border: 1px solid var(--color-1);
}

.article_two_video_player_volume_icon svg:hover {
	border: 1px solid var(--color-1);
}

.article_two .article_two_part_two p {
	color: #59e759;
	font-weight: bold;
}

.group_categories {
	display: flex;
	flex-wrap: wrap;
}

.group_categories span {
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}

.article_two_part_one_icon_ {
	height: 1rem;
	width: 1rem;
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
}

.article_two {
	display: inline-block;
	position: relative;
	border: 0;
	height: max-content;
	width: 100%;
	/* transition: all 200ms ease-in;
	transform: scale(1);
	vertical-align: top; */
	/* added */
}

.article_two_part_one {
	height: var(--share-height);
	width: 100%;
}

.article_two_part_two {
	min-height: 0;
	width: 100%;
	overflow: hidden;
	transition: all 200ms ease-in;
}

.article_two_part_one:hover .article_two_part_two {
	min-height: 20px;

}


@media (min-width: 480px) {
	.article_two {
		transition: transform 0.4s;
		transform-origin: center;
	}

	.article_two:hover {
		transform: scale(1.5);
		z-index: 1;
		transition: all 200ms ease-in;
		transform: scale(1.5);
	}

	.slick-track>.slick-active .article_two:hover {
		transform-origin: left;
	}

	.slick-track>.slick-active~.slick-active .article_two:hover {
		transform-origin: center;
	}

	.last_slide .article_two:hover {
		transform-origin: right !important;
	}
}

@media (min-width: 900px) {
	.article_two_video_player_volume_icon svg {
		height: 1.5rem;
		width: 1.5rem;
	}
}

@media (min-width: 1700px) {
	.group_icons_wrapper svg {
		height: 1.5rem;
		width: 1.5rem;
	}
}