@import'../../../../common/css/variable.css';

h2 {
		line-height: 1.3;
    margin: 0;
		    padding-top: var(--minor-space);
    padding-bottom: var(--minor-space);
}

@media only screen and (min-width: 950px) and (max-width: 1449px), only screen and (min-width: 1450px) {
	h2 {
		    font-size: 2rem;
	}
}
